.container {
  max-width: 960px;
}


/*
 * Translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.overflow-hidden { overflow: hidden; }


/*
 * Colors
 */
.light-star {
  color: #ddd;
}

.soft-very-active {
  color: #8b0000;
}

.soft-recently-active {
  color: #8b6000;
}

.soft-possibly-active {
  color: #838b00;
}

.bg-very-active {
  background-color: #ffb3b785;
}

.bg-recently-active {
  background-color: #ffe0b385;
}

.bg-possibly-active {
  background-color: #f6f7d485;
}

input.invalid {
  border-color: red;
}