<div class="container mt-3">
  <h1>Equilibrium</h1>
  <p class="lead">a Torn City faction</p>

  <section class="d-block mt-5 p-3 text-left bg-light-trans">
    <h5>Announcements</h5>
    <ul class="simple-list pb-4">
      <li><strong>Mini-chain</strong>: Thursdays 2000-2200 TCT. Newsletter will clarify each Thursday morning.</li>
      <li><strong>1000 Chain</strong>: Saturday, October 5 at 2000 TCT. Read about <a ui-sref="resources({articleName: 'chainPrep'})">Chain Prep</a>.</li>
    </ul>


    <h5>Recent Events</h5>
    <ul class="simple-list">

      <li>
        Saturday, September 7 (<span class="text-success">Chain</span>)<br>
        Achieved a chain of <strong>1085</strong> and gained 4592.75 respect [<a class="text-muted" href="https://www.torn.com/war.php?step=chainreport&mp;chainID=6953796">view</a>]
      </li>

      <li>
        Sunday, August 19 (<span class="text-success">Chain</span>)<br>
        Achieved a chain of <strong>2500</strong> and gained 9350.98 respect [<a class="text-muted" href="https://www.torn.com/war.php?step=chainreport&amp;chainID=6678971">view</a>]
      </li>

      <li>
        Sunday, August 4 (<span class="text-success">Chain</span>)<br>
        Achieved a chain of 2358 and gained 7575.33 respect [<a class="text-muted" href="https://www.torn.com/war.php?step=chainreport&amp;chainID=6492450">view</a>]
      </li>

      <li>
        Sunday, June 9 (<span class="text-danger">War</span>)<br>
        Successfully assaulted Lithuania and claimed sovereignty over XXC [<a class="text-muted" href="https://www.torn.com/war.php?step=warreport&amp;warID=10467">view</a>]
      </li>
      
      <li id="show-li-link" class="visible-li"><button type="button" class="pl-0 btn btn-link" ng-click="$ctrl.showLi()">Show more</button></li>

      <li class="hidden-li">
        Saturday, June 8 (<span class="text-success">Chain</span>)<br>
        <strong>In record time</strong> (1hr 45m) achieved a chain of 1000 and gained 3670.93 respect [<a class="text-muted" href="https://www.torn.com/war.php?step=chainreport&amp;chainID=5725794">view</a>]
      </li>

      <li class="hidden-li">
        Monday, June 3 (<span class="text-danger">War</span>)<br>
        Successfully <strong>DEFENDED</strong> against 7th Street Assassins and maintained sovereignty over HWC [<a class="text-muted" href="https://www.torn.com/war.php?step=warreport&amp;warID=10274">view</a>]
      </li>

      <li class="hidden-li">
        Tuesday, May 28 (<span class="text-danger">War</span>)<br>
        Successfully assaulted Lithuania and claimed sovereignty over EYC [<a class="text-muted" href="https://www.torn.com/war.php?step=warreport&amp;warID=10211">view</a>]
      </li>

      <li class="hidden-li">
        Friday, May 10 (<span class="text-danger">War</span>)<br>
        Successfully assaulted Lithuania and claimed sovereignty over OYC [<a class="text-muted" href="https://www.torn.com/war.php?step=warreport&amp;warID=9756">view</a>]
      </li>

      <li class="hidden-li">
        Monday, April 8 (<span class="text-success">Chain</span>)<br>
        Achieved a chain of 1000 and gained 3767.29 respect [<a class="text-muted" href="https://www.torn.com/war.php?step=chainreport&amp;chainID=4891347">view</a>]
      </li>

      <li class="hidden-li">
        Saturday, April 6 (<span class="text-danger">War</span>)<br>
        Successfully assaulted Lithuania and claimed sovereignty over PYC [<a class="text-muted" href="https://www.torn.com/war.php?step=warreport&amp;warID=9062">view</a>]
      </li>

      <li class="hidden-li">
        Saturday, March 30 (<span class="text-success">Chain</span>)<br>
        Achieved a chain of 1000 and gained 3690.09 respect [<a class="text-muted" href="https://www.torn.com/war.php?step=chainreport&amp;chainID=4772790">view</a>]
      </li> 

      <li id="hide-li-link" class="hidden-li"><button type="button" class="btn btn-link pl-0" ng-click="$ctrl.hideLi()">Show less</button></li> 
    </ul>  
  </section>

  <!-- <section class="d-block mt-5">
    <h4>Faction Resources</h4>
    <a ui-sref="targets" class="btn btn-lg btn-primary">Leveling Targets</a>
  </section>
  <section class="d-block mt-5">
    <h5>General Resources</h5>
    <a href="https://www.torn.com" class="mb-2 btn btn-lg btn-secondary">Torn City</a>
    <a href="https://www.tornstats.com" class="mb-2 btn btn-lg btn-secondary">Torn Stats</a>
    <a href="https://www.torn.com/wiki" class="mb-2 btn btn-lg btn-secondary">Torn Wiki</a>
  </section> -->
</div>
