<div class="container mt-3">
  <h1>Resources</h1>

  <div class="text-center">
    <button type="button" class="btn btn-link" ng-click="$ctrl.showArticle('leadership')">Leadership Roles</button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.showArticle('chainPrep')">Chain Prep</button>
  </div>

  <section class="d-block mt-2 p-3 text-left bg-light-trans" ng-show="$ctrl.articles.chainPrep">
    <h3>Chain Prep</h3>
    <p>The day of the week varies, but chains usually start on at 20:00 TCT, which is 1pm Pacific, 4pm Eastern, 9pm London.</p>
    <p><strong>WE NEED EVERYONE</strong> if we are to reach 2500 attacks.</p>
    <p><strong>Start stacking Xanax</strong> 36-48 hours ahead to ensure you've stacked 4 Xanax prior to the chain. You need to do this early enough that your drug cool down is gone so you can take a fifth Xanax during the chain. The faction armory has Xanax which is free to use for chain prep.</p>
    <p><strong>No attacking the day before a chain</strong>. If we see you attack, then we know you either are not stacking Xanax or you are wasting energy that should be spent on the chain. Your missions can wait until during or after the chain.</p>

    <h4 class="pt-3">Details:</h4>
    <p>For big chains (e.g. 2500) <strong>WE NEED EVERYONE</strong> to contribute as many attacks as they can. If 75 members contribute 34 attacks, we're golden. Realistically, many of us will contribute 62 attacks or more (see guide below), which lowers the burden for the rest of the faction. If the timing is difficult, then pop in when you can and contribute as best you can. If you can only give us 1 attack, please do it. That might be the difference.</p>
    <p>If everyone actually joined at the appointed time, a chain could be completed in one hour. But that is not feasible because not everyone is available to join at the same time. For that reason, we need "<strong>chain watchers</strong>" who withhold their attacks.. only attacking when the 5min interval timer gets low. This will keep the chain alive for hours while we wait for others to join. If you are free for multiple hours, then let someone else watch the first hour and you can wait for a later hour.</p>

    <h4 class="pt-3">Optimal Plan</h4>
    <ul>
      <li>
        Starting 36-48 hours prior to when you plan to join the chain, begin stacking 4 Xanax (each ~7 hours apart).
        <ul>
          <li>Start with zero energy so you don't waste energy.</li>
          <li>Use Xanax from the faction armory if you need it.</li>
          <li>Using faction Xanax outside of chain prep is grounds for being kicked.</li>
        </ul>
      </li>
      <li>
        After your 4th Xanax, immediately fly to Switzerland
        <ul>
          <li>Only if lvl 15+. Another reason for you to power ahead to lvl 15.</li>
          <li>Bring $1m with you to rehab which removes addiction effects (-35% to battle stats)</li>
          <li>Then return to Torn before the chain.</li>
        </ul>
      </li>
      <li>
        When the time comes, use all 40 attacks.
        <ul>
          <li>"Leave on the street." Period.</li>
          <li><strong>Do not mug</strong> because it yields less respect.</li>
          <li>Do not hospitalize because you want that target available again in 20 mins, and at partial health.</li>
        </ul>
      </li>
      <li>Use points to refill your energy (another 150e) and attack 6 times.</li>
      <li>
        Use the free energy (250e) in your Torn City Newsletter emailed quarterly.
        <ul>
          <li>If you haven't already used it this quarter.</li>
          <li>If you cannot find this email, go to your <a href="https://www.torn.com/preferences.php#tab=email-subscriptions">settings</a> and click the "Resend Seasonal Newsletter".</li>
          <li>Near the bottom of the email message is a button to "Claim 250 energy". Click it and then attack 10 more times!</li>
        </ul>
      </li>
      <li>
        Take a fifth Xanax (another 250e) and attack 10 more times.
        <ul>
          <li>Do this only <strong>after</strong> you’ve used up all previous energy because you may OD and be done for the day.</li>
        </ul>
      </li>
      <li>If a new day has dawned, then you can do a second point refill (another 150e). Wheee!</li>
    </ul>

    <p>If you were able to do all of this, you will have attacked 72 times.</p>
    <p>If you are willing to spend the money, feel free to use energy drinks, Feathery Hotel Coupons, company Specials, etc. But if you've already given us 72 attacks, you've done very well. And the faction is better for it. Thank you!!</p>

    <p>Metal wrote a <a href="https://www.torn.com/forums.php#/p=threads&amp;f=999&amp;t=16086326&amp;b=1&amp;a=9524">comprehensive guide</a> and posted it in our faction forum.</p>

    <p>Some of you <strong>will</strong> OD during the stacking process. This is reality and it sucks when it happens to you. You may be hospitalized for 3-4 days, you will have a 24 drug cool down, and you'll be at zero life, zero nerve, zero energy, and zero happy both in-game and in real life. If this happens to you, notify the faction on chat or Discord so we can help you. Once you are revived, bring $1.5m and fly to rehab if you are level 15+. If the chain is still more than 24 hours away, you'll have time to pop at least one Xanax. Simply start the process over with what time you have left.</p>
  </section>  

  <section class="d-block mt-2 p-3 text-left bg-light-trans" ng-show="$ctrl.articles.leadership">
    <h3>Leadership Roles</h3>
    <p>In order to increase member investment, we've created numerous leadership roles so as to involve as many people as possible. Some roles can and should be filled by more than one member. Some roles come with a salary, either per week, event, or project.</p>
    <ul>
      <li><strong>Banker</strong> - Handle member bank withdrawals.</li>
      <li><strong>Armory Chief</strong> - Maintain the Armory.</li>
      <li><strong>Mastermind</strong> - Research, plan, and initiate Organized Crimes.</li>
      <li><strong>Chain Leader</strong> - Organize chains and maintain the Chain forum document.</li>
      <li><strong>Enforcer</strong> - Lead all aspects of territorial war and maintain the War forum document.</li>
      <li><strong>Financier</strong> - Watch the item and stock markets and advise the faction on investment options.</li>
      <li><strong>Recruiter</strong> - Manage the membership. Recruit and cull as necessary. Mentor new recruits.</li>
      <li><strong>Ringleader</strong> - Organize games, contests, and activities with the purpose of increasing a sense of community and loyalty.</li>
      <li><strong>Dean of Discord</strong> - Evangelize the EQ Discord server and manage the membership and roles.</li>
      <li><strong>API Developer</strong> - Develop useful EQ API integrations to support and enhance the faction operations.</li>
    </ul>

    <h3 class="pt-3">Job Descriptions</h3>

    <h4 class="pt-3">Banker</h4>
    <p>Handle member bank withdrawals. Bankers have a responsibility to be online and available for a decent amount of time. They shouldn't travel continuously. This is not intended as a perk so that they have easy access to their own money.</p>
    
    <h5 class="pt-1">Special</h5>
    <p>Because of the sensitive nature of this role, all bankers must connect to the leaders in real life via phone and email. Additionally, banker candidates must have been in the faction for at least 90 days in order to be considered for the role.</p>

    <h4 class="pt-3">Armory Chief</h4>
    <p>Maintain the Armory and monitor inventory of weapons, armor, drugs, and medical items. Mobilize members to donate blood and other supplies as appropriate. Evaluate the needs of new recruits and equip them as needed. With guidance from the leaders, clear out excess inventory and acquire new stock. Research the optimal weapons and armor for the faction to maintain, considering a balance of quality and cost.</p>

    <h5 class="pt-1">Documentation</h5>
    <p>Maintain a google document with any important research or goals which would help the future Armory Chief. Also maintain a faction forum post for new recruits which details useful information concerning weapons, armor, drugs, and meds.</p>

    <h5 class="pt-1">Special</h5>
    <p>At will, the Armory Chief may appoint a Beer Captain to oversee the supply and consumption of the faction stock of beer.</p>

    <h4 class="pt-3">Mastermind</h4>
    <p>The Mastermind's goal is to maximize respect and money gains for the faction. Research, plan, and initiate Organized Crimes. Educate and mobilize the faction to commit individual crimes frequently and intelligently.</p>

    <h5 class="pt-1">Documentation</h5>
    <p>Maintain a google document which details the current plans, research, and any info to guide the next Mastermind or any other leader who needs to step in temporarily.</p>

    <h4 class="pt-3">Chain Leader</h4>
    <p>Organize chains, schedule watchers, and mobilize member involvement. Also, research chain strategies and determine a plan of action.</p>

    <h5 class="pt-1">Documentation</h5>
    <p>Maintain a faction forum post which details the member responsibilities during a chain event, including Xanax stacking, use of Vicodin, preparation of target list, procedure of the chain, and more. </p>

    <h4 class="pt-3">Enforcer</h4>
    <p>Lead all aspects of territorial war. Research war strategies both from existing documentation and by interviewing veteran players. </p>

    <h5 class="pt-1">Documentation</h5>
    <p>Maintain a google document which details useful research and strategy. Also a ledger of mercenaries, revivers, wall sitters and their fees. Also Maintain a faction document which explains the preparation and procedure for war.</p>

    <h4 class="pt-3">Financier</h4>
    <p>Advise the faction on hot investment options. Follow the item and stock markets and advise when to buy and sell. Additional responsibilities could include organizing fundraising efforts for the faction armory. This could involve simply soliciting donations from members or official faction buyouts (buy stuff from members and the profits go to faction). It could involve smart investing. Also could utilize contests whereby each donated Xanax earns one entry into the contest. Etc.</p>

    <h5 class="pt-1">Documentation</h5>
    <p>Maintain a google document which details investment options and history. Also past fundraisers and additional ideas. Indicate which fundraisers work better for which purposes.</p>

    <h4 class="pt-3">Recruiter</h4>
    <p>Manage the membership. Recruit and cull the roster as necessary. As part of on-boarding, quickly push members to join Discord and Torn Stats. Torn Stats is important to the Recruiter because it gives a very nice at-a-glance view of who is active or not. We expect the recruiters to follow-up with new recruits to ensure they have read the on-boarding materials and they know their first steps.</p>

    <h5 class="pt-1">Temporary Note</h5>
    <p>I recommend a current focus on recruiting European members in order to develop a strong core for better coverage during chains and wars.</p>

    <h4 class="pt-3">Ringleader</h4>
    <p>Organize games, contests, and activities with the purpose of increasing a sense of community and loyalty. The Ringleader's single focus is to engage as many members as possible through daily simple games (e.g. Taz's photo scavenger hunts) and periodic contests. Be as creative as possible in order to appeal to many different interests: original joke contest, original story, respect races, car races, faction poker tournament, win the most games of roulette in one hour, in-game scavenger hunts, and anything else.</p>

    <h5 class="pt-1">Documentation</h5>
    <p>Maintain a google document which describes various games, contests, and activities which have been conducted.</p>

    <h4 class="pt-3">Dean of Discord</h4>
    <p>Evangelize the EQ Discord server and manage the basic membership and assignment of roles for new members. Work together with the API Developer concerning Discord bots. Preferably, this member is passionate about Discord and is "always on". Not necessarily always chatting, but the app notifications are enabled and you are a Discord junkie.</p>

    <h4 class="pt-3">API Developer</h4>
    <p>Develop useful EQ API integrations to support and enhance the faction operations. Some examples:</p>
    <ul><li>A Discord bot which can query item market costs on demand. For example "!price Xanax" and it will return the three lowest market prices and their quantities.</li>
    <li>A Grafana (or other) site with a clickable and sortable list of leveling targets with current status. This would be an upgrade to the static list in the forum post.</li>
    <li>A Grafana (or other) site which displays chain/war analytics or other EQ data integrations.</li>
    </ul>
    <p>Aarlo has started a few ideas and has screenshots of examples to emulate.</p>


    <h3>Other Ideas</h3>
    <em>"Two minds are better than one."</em>
    <p>Let us know if you have an idea not mentioned here. You should feel free to create your own leadership opportunities.</p>
  </section>

</div>
