<h1 class="mt-3">
  Leveling Targets
  <div style="font-size: 16px;" ng-if="$ctrl.user.login && $ctrl.user.name">
    for <a target="_torn" href="https://www.torn.com/profiles.php?XID={{$ctrl.user.tornid}}">{{$ctrl.user.name}}</a>
    &nbsp;
    (<a href="javascript:;" ng-click="$ctrl.logout()">Log out</a>)
  </div>
</h1>

<!-- Login Form -->
<div ng-if="$ctrl.ready && !$ctrl.user.login">
  <div class="mt-4">
    <form name="$ctrl.loginForm" ng-submit="$ctrl.login()">
      Enter your <a href="https://www.torn.com/preferences.php#tab=api" target="_blank">API key</a> to start.&nbsp;
      <input type="text"
        class="form-control d-inline"
        style="width: 225px;"
        name="apiKey"
        placeholder="API Key"
        required
        aria-label="API Key"
        ng-model="$ctrl.apiKey">

      <button class="btn btn-primary ml-3 mb-1 d-inline" type="submit" ng-disabled="$ctrl.logging">
        <span ng-if="!$ctrl.logging">Log in</span>
        <span ng-if="$ctrl.logging" class="spinner-border spinner-border-sm"></span>
        <span ng-if="$ctrl.logging">Logging in...</span>
      </button>

      &nbsp;
    </form>

    <div ng-if="$ctrl.showLoginError" class="mt-4 alert alert-danger" role="alert">
      There was an error when attempting to log in: {{$ctrl.user.error}}.
      <br>
      Please try again. If the issue persists, contact the faction API Developers.
    </div>

    <div ng-if="$ctrl.showLogoutError" class="mt-4 alert alert-danger" role="alert">
      There was an error when attempting to log out. Please try again.
      <br>
      If the issue persists, contact the faction API Developers.
    </div>
  </div>
</div>

<!-- Serach & Results -->
<div ng-if="$ctrl.ready && $ctrl.user.login">
  <form name="$ctrl.filtersForm"
    ng-submit="$ctrl.applyFilters()"
    novalidate>
    <div class="mt-4 form-row">
      <div class="col">

        <!-- Max Stats -->
        <input type="number"
          class="form-control d-inline ml-3"
          style="width: 125px;"
          id="max-stats"
          name="maxStats"
          aria-label="Maximum total stats"
          placeholder="Max stats"
          ng-model="$ctrl.filters.maxStats">

        <!-- Faction Name -->
        <select name="faction"
          ng-if="$ctrl.showAdditionalFilters"
          class="custom-select form-control d-inline ml-3 mb-1"
          style="width: 125px;"
          matNativeControl
          aria-label="Limit results to specified a faction."
          ng-model="$ctrl.filters.factionId">
          <option value="" selected>Any Faction</option>
          <option value="10296">Kyokos Bedroom</option>
        </select>

        <!-- Page Size -->
        <select name="targetCount"
          class="custom-select form-control d-inline ml-3 mb-1"
          style="width: 125px;"
          matNativeControl
          aria-label="Number of Targets to display. Default is 10."
          ng-model="$ctrl.filters.targetCount">
          <option value="10" selected>10 Targets</option>
          <option value="20">20 Targets</option>
          <option value="30">30 Targets</option>
          <option value="40">40 Targets</option>
          <option value="50">50 Targets</option>
        </select>

        <!-- Submit button -->
        <button class="btn btn-primary ml-3 mb-1 d-inline" type="submit" ng-disabled="$ctrl.fetchingTargets">
          <span ng-if="!$ctrl.fetchingTargets">Fetch Targets</span>
          <span ng-if="$ctrl.fetchingTargets" class="spinner-border spinner-border-sm"></span>
          <span ng-if="$ctrl.fetchingTargets">Fetching...</span>
        </button>

        <!-- Include Active Targets -->
        <!-- <div class="form-check form-check-inline ml-3"
          ng-if="$ctrl.showAdditionalFilters">
          <input class="form-check-input"
            type="checkbox"
            id="include-active"
            name="includeActive"
            aria-label="Include active targets"
            ng-model="$ctrl.filters.includeActive">
          <label class="form-check-label" for="include-active">Include Active Targets</label>
        </div> -->

        <!-- Show/Hide Addition filters -->
        <div>
          <a class="ml-3 mb-1"
            href="javascript:;"
            ng-if="!$ctrl.showAdditionalFilters"
            ng-click="$ctrl.showAdditionalFilters = true">Show additional filters</a>

          <a class="ml-3 mb-1"
            href="javascript:;"
            ng-if="$ctrl.showAdditionalFilters"
            ng-click="$ctrl.showAdditionalFilters = false">Hide additional filters</a>
        </div>
      </div>
    </div>
  </form>

  <div ng-if="$ctrl.showServerError" class="mt-4 alert alert-danger" role="alert">
    There was an error retrieving data from the server.
    <br>
    If the issue persists, contact the faction API Developers.
  </div>

  <div class="mt-4 table-responsive" ng-if="$ctrl.filtersApplied">
    <table class="table table-hover table-striped table-bordered table-sm bg-light">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th><div class="d-none d-sm-block">Status</div></th>
          <th>
            <div class="d-none d-lg-block">Total Stats</div>
            <div class="d-xs-block d-lg-none">Stats</div>
          </th>
          <th class="d-none d-md-table-cell">Str</th>
          <th class="d-none d-md-table-cell">Def</th>
          <th class="d-none d-md-table-cell">Spd</th>
          <th class="d-none d-md-table-cell">Dex</th>
          <th>Level</th>
          <th class="d-none d-md-table-cell">Age</th>
          <th>
            <div class="d-none d-lg-block">Last Action</div>
            <div class="d-xs-block d-lg-none">Action</div>
          </th>
          <th class="d-none d-md-table-cell">Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="$ctrl.fetchingTargets">
          <td class="text-center" colspan="11">
            <i class="fas fa-3x fa-spinner fa-spin"></i>
          </td>
        </tr>
        <tr ng-if="!$ctrl.fetchingTargets && !$ctrl.targets.length">
          <td class="text-center" colspan="11">No targets found.</td>
        </tr>
        <tr ng-if="!$ctrl.fetchingTargets && $ctrl.targets.length"
          ng-repeat="target in $ctrl.targets"
          ng-class="::{'text-muted': !target._isOkay}">
          <td>
            <i ng-if="::$ctrl.hasLocalStorage"
              class="fas fa-star fa-xs float-left pt-2 pr-1
                {{$ctrl.favorites[target.torn_id] ? 'text-primary' : 'light-star'}}"
              ng-click="$ctrl.toggleFavorite(target.torn_id)"
              title="{{$ctrl.favorites[target.torn_id] ? 'Favorite target' : ''}}"></i>
            <a target="_target"
              ng-class="::{'text-muted': !target._isOkay}"
              href="https://www.torn.com/profiles.php?XID={{ target.torn_id }}">
              {{::target.torn_name }}
            </a>
            <div class="d-block d-lg-none">
              <small>{{::!target._isOkay ? target._shortStatus : ''}}</small>
            </div>
          </td>
          <td>
            <div title="{{::target._scrubbedReason}}">
              <i class="fas fa-circle fa-xs text-success float-left pt-2 pr-1"
                ng-class="::{'text-warning': target.status !== 'Okay'}"></i>
              <span class="d-none d-lg-inline">{{::target.status}}</span>
              <span class="d-inline d-lg-none">{{::target._delayTime}}</span>
              <div class="d-none d-lg-block"><small>{{::target._scrubbedReason}}</small></div>
            </div>
          </td>
          <td>{{::target._total }}</td>
          <td class="d-none d-md-table-cell">{{::target._strength}}</td>
          <td class="d-none d-md-table-cell">{{::target._defense}}</td>
          <td class="d-none d-md-table-cell">{{::target._speed}}</td>
          <td class="d-none d-md-table-cell">{{::target._dexterity}}</td>
          <td>{{::target.level }}</td>
          <td class="d-none d-md-table-cell">
            <span class="d-none d-lg-inline">{{::target._age}}</span>
            <span class="d-none d-sm-inline d-lg-none">{{::target._shortAge}}</span>
          </td>
          <td ng-class="{
            'bg-very-active': target._isVeryActive,
            'bg-recently-active': target._isRecentlyActive,
            'bg-possibly-active': target._isPossiblyActive,
            }">
            <span class="d-none d-lg-inline"
            ng-class="{
              'soft-very-active': target._isVeryActive,
              'soft-recently-active': target._isRecentlyActive,
              'soft-possibly-active': target._isPossiblyActive,
            }">{{::target._LastAction}}</span>
            <span class="d-inline d-lg-none">{{::target._shortLastAction}}</span>
          </td>
          <td class="d-none d-md-table-cell">{{::target.status_updated_relative}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>